h1,
h2,
h3 {
  color: #e22c2c;
  font-family: "Times New Roman", Times, serif;
}
p {
  color: #3498db;
  font-style: unset;
}
#desc {
  color: #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.desc {
  color: #52b55e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.nameTable {
  width: 30%;
  text-align: center;
  border-collapse: collapse;
}
.nameTable td,
th {
  border: 1px solid #000000;
}
.nameTable td {
  font-style: oblique;
}
