.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gap {
  gap: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.center a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger;
  color: #95a5a6;
}
.center a:hover {
  color: #000000;
}
.profile {
  width: 15%;
}
.heading {
  color: #34495e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.paragraph {
  width: 70%;
  font-family: "Times New Roman", Times, serif;
  color: #34495e;
}
.img {
  width: 20%;
}
.gallary {
  gap: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}
